<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Veterinary.Properties.Settings.sqlConnection" connectionString="Data Source=DESKTOP-UDVP0HU\SQLEXPRESS;Initial Catalog=VeterinaryDb;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>